ul {
 list-style-type: none;
 margin: 1px;
 padding: 1px;
 overflow: hidden;
 background-color: #e6ffe6;
}

li {
 float: left;
 border-right: 2px solid black;
}

/* Add a border to all( but not the last) list items */
li:last-child {
 border-right: true;
}

li a {
 display: block;
 color: #006600;
 text-align: left;
 padding: 15px 17px;
 text-decoration: none;
}

/* Links will change color when hovered over */
li a:hover {
 background-color: #ff884d;
}

.active {
 background-color: #ffbb99;
}
